/* Message container */
.container {
  display: flex;
  max-width: 80%;
  height: 75vh;
  max-height: 75vh;
  margin: 1em auto;
  overflow: hidden;
  background: #222e35;
  color: #ffffff90;
  border-radius: 3px;
  border: 1px solid #222e35;
  box-shadow: 0 17px 50px 0 rgba(11, 20, 26, 0.19),
    0 12px 15px 0 rgba(11, 20, 26, 0.24);
}

.container > div {
  background: #111b21;
}

.container .col-header {
  background: #202c33;
}

.online-users {
  display: flex;
  flex-direction: column;
  min-width: 20em;
  border-right: 1px solid #d9d9d926;
}

.online-users > div {
  padding: 0.5em;
  display: flex;
  place-items: center;
  cursor: pointer;
}

.online-users .online-icon {
  width: 5px;
  height: 5px;
  background: lightgreen;
  border-radius: 10px;
  margin-right: 10px;
}

.default-thumbnail {
  height: 25px;
  margin-right: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  z-index: 0;
}

.conversation-bg {
  background: url("./assets/bg-chat.png") repeat;
  background-color: #111b21;
  background-size: 420px 760px;
  opacity: 0.06;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.message-container > div {
  padding: 0.5em;
}

.message-container .messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.message-container .messages > .message-info:not(:last-child) {
  margin-bottom: 10px;
}

.message-info {
  position: relative;
}

.message-info .message {
  max-width: 35%;
  padding: 4px 8px;
  color: white;
  border-radius: 6px;
  text-align: left;
}

.message.left {
  background: #202c33;
  float: left;
  margin-left: 10px;
  border-top-left-radius: 0;
}

.message.right {
  background: #005c4b;
  float: right;
  margin-right: 10px;
  border-top-right-radius: 0;
}

.message-info .tail {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
}

.tail.left {
  left: 0px;
  border: 5px solid #202c33;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}

.tail.right {
  right: 0px;
  border: 5px solid #005c4b;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
}

.message-container .input-message {
  display: flex;
  place-items: center;
}

.message-container .input-message input {
  width: 100%;
  height: 3em;
  background: #2a3942;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}

.logs {
  display: flex;
  flex-direction: column;
  max-width: 79%;
  height: 15vh;
  max-height: 15vh;
  margin: 1em auto;
  margin-bottom: 0;
  padding: 0.5em;
  overflow: hidden;
  overflow-y: scroll;
  background: #222e35;
  color: #ffffff90;
  font-size: 0.9em;
  border-radius: 3px;
  border: 1px solid #222e35;
  box-shadow: 0 17px 50px 0 rgba(11, 20, 26, 0.19),
    0 12px 15px 0 rgba(11, 20, 26, 0.24);
}
