/* Message container */
.container {
  display: flex;
  max-width: 80%;
  height: 80vh;
  max-height: 80vh;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin: 1em auto;
  overflow: hidden;
}

.online-users {
  display: flex;
  flex-direction: column;
  min-width: 10em;
  border-right: 1px solid #d9d9d9;
}

.online-users > div {
  padding: 0.5em;
  padding-bottom: 0;
  display: flex;
  place-items: center;
}

.online-users .online-icon {
  width: 5px;
  height: 5px;
  background: lightgreen;
  border-radius: 10px;
  margin-right: 10px;
}

.message-list {
  display: flex;
  flex-direction: column;
  min-width: 15em;
  border-right: 1px solid #d9d9d9;
}

.message-list > div {
  padding: 0.5em;
  padding-bottom: 0;
}

.message-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.message-container > div {
  padding: 0.5em;
  padding-bottom: 0;
}

.message-container .messages {
  flex-grow: 1;
}

.message-container .input-message {
  display: flex;
  place-items: center;
}

.message-container .input-message input {
  width: 100%;
  height: 3em;
}
